<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.action, task_path(task.id) %>
      <%= button_to "Delete", task, method: :delete, data: { confirm: "Do you truly want to remove this task?" } %>
    </li>
    <!-- <li>

    </li> -->
  <% end %>
</ul>

<p>
  <%= link_to "Add new task", new_task_path %>
</p>
