<h3>Your Tasks</h3>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.action%>
      <%= link_to "Edit", task_path(task.id) %>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Do you truly want to remove Task: #{task.action}?" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add new task", new_task_path %>
</p>
