<section class="main_view">

  <h3>
    <%= @task.action %>:
  </h3>

  <section class="task_list">
    <p>
      Description: <%=@task.description%>
    </p>

    <p>
      Completion date:
      <%=@task.completion_date ? @task.completion_date : "Incomplete"%>
    </p>

    <p class="edit_task">
      <%=button_to "Edit Task", edit_task_path(@task.id), method: :get%>
    </p>
  </section>

</section>
